.about.component {
  background-color: var(--clr-dark-red);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;

  min-height: 100%;

  padding: 32px 16px;
}

.about-container {
  max-width: 55ch;
}

.about-container > div {
  margin-top: 16px;
  color: var(--clr-gold);
}
