.home.component {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100%;

  padding: 32px 16px;
}

.slogan {
  margin-top: 24px;
  margin-bottom: 40px;
}

.menu-cta {
  text-transform: uppercase;
  color: var(--clr-black);
  background-color: var(--clr-gold);
  padding: 14px;
}

.menu-cta:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
