.menu.component {
  background-color: var(--clr-dark-red);
  padding: 32px 16px;
}

.items-container {
  max-width: 575px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 12px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-name,
.item-price {
  color: var(--clr-gold);
  font-size: 1.5rem;
  font-weight: 700;
}

.item-divider {
  width: 280px;
  border: 1px solid var(--clr-gold);
  margin: 0 auto;
  margin-top: 16px;
}
