:root {
  --clr-gold: #b6a45e;
  --clr-white: #ebebeb;
  --clr-black: #1e1e1e;
  --clr-dark-red: #442c28;
  --page-max-width: 1280px;
}

body {
  height: 100svh;
  font-family: "Figtree", sans-serif;
  color: var(--clr-white);

  background: url("../assets/images/gemini-nasi-padang.webp") center / cover;
  backdrop-filter: brightness(70%);

  display: flex;
  flex-direction: column;
}

header {
  padding: 24px 16px;
  border-bottom: 2px solid var(--clr-gold);
}

nav {
  display: flex;
  gap: 24px;
  justify-content: center;
}

nav > button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px;
}

nav > button:hover {
  color: var(--clr-gold);
}

nav > button.selected {
  text-decoration: underline var(--clr-gold) 2px;
  text-underline-offset: 4px;
}

#content {
  flex: 1;
  overflow: auto;
  scrollbar-color: var(--clr-gold) var(--clr-dark-red);
}

footer {
  text-align: center;
  padding: 32px 16px;
  border-top: 2px solid var(--clr-gold);
}

a:hover {
  text-decoration: underline var(--clr-gold) 2px;
}
